# ---------------------
# Build Artifacts
# ---------------------
build/
*.ba
*.bo
*.bi
*.so
*.o
*.a
*.hi
*.cf
*.sched
*.sim
*.e
*.out
*.vvp
*.vpi
*.h

# Simulation outputs
*.vcd
*.vcd.gz
*.fst
*.log

# ---------------------
# Generated C/CPP files (exclude c_src/)
# ---------------------
*.c
*.cpp
*.cxx

!c_src/**/*.c
!c_src/**/*.h 

# ---------------------
# Editor/IDE junk
# ---------------------
*~
*.swp
*.swo
*.DS_Store

# VSCode / IntelliJ / Tags
.vscode/
.idea/
tags
*.cache